.container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.container1 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.container2 {
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.text03 {
  font-style: normal;
  font-weight: 500;
}
.text05 {
  margin-top: var(--dl-space-space-halfunit);
}
.text08 {
  font-style: normal;
  font-weight: 500;
}
.container3 {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: flex-start;
}
.text10 {
  margin-right: 4px;
}
.text12 {
  font-weight: 700;
}
.text13 {
  font-weight: 700;
}
.container4 {
  width: 263px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.link1 {
  display: contents;
}
.icon {
  height: var(--dl-size-size-unit);
}
.link2 {
  display: contents;
}
.icon02 {
  height: var(--dl-size-size-unit);
}
.link3 {
  display: contents;
}
.icon04 {
  height: var(--dl-size-size-unit);
}
.link4 {
  display: contents;
}
.icon06 {
  height: var(--dl-size-size-unit);
}
.link5 {
  display: contents;
}
.icon08 {
  height: var(--dl-size-size-unit);
}
.link6 {
  display: contents;
}
.icon10 {
  height: var(--dl-size-size-unit);
}
